body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #FBF5F3;
}

.app {
  padding-top: 10em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.mapContainer {
  padding-top: 2em;
  padding-left: 2em;
  background-color: #4F759B;
  height: 400px;
}

.quakeContainer {
  padding-top: 2em;
  padding-right: 2em;
  background-color: #4F759B;
  color: white;
  height: 400px;
}

.quakeContainer @media only screen and (min-width : 321px) {
/* margin-top: 3%; */
background-color: black;
}



.className {
  height: 50px;
  width: 50px;
}
